@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins';
}
.container{
    width: 100%;
    height: 100vh;
    background: #62c8be;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar{
    height: fit-content;
    display: grid;
    place-items: center;
    grid-template-columns: 10% 80% 10%;
    background-color: #1c120f;
    position: relative;
    padding: 10px 20px;
}
.left{
    background-color: #62c8be;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}
.left i{
    font-size: 25px;
    color: #1c120f;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center h3{
    letter-spacing: 1px;
    color: #fff;
    font-size: 25px;
}

.center img{
    width: 40px;
}

.center ul{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.center ul li{
    list-style: none;
}
.center ul li a{
    text-decoration: none;
    color: #62c8be;
    font-weight: 500;
    font-size: 16px;
    margin: 20px;
}
.right{
    background-color: #62c8be;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.right i{
    font-size: 22px;
    color: #1c120f;
}
.right .fa-bars{
    display: none;
}
.min-nav{
    visibility: hidden;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns:  1fr 1fr 2fr 1fr 1fr ;
    gap: 20px;
    background-color: #1c120f;
    padding: 0 20px;
}
.min-nav li{
    list-style: none;
}
.min-nav li img{
    width: 40px;
}

@media screen and (max-width:768px) {
    .center img{
        width: 30px;
    }
    .center h3{
        font-size: 17px;
    }
    .center ul{
        margin: 5px;
    }
    .center ul li a{
        font-size: 15px;
        margin: 10px;
    }
    .right{
        width: 40px;
        height: 40px;
    }
    .right i{
        font-size: 15px;
        color: #1c120f;
    }
    .left{
        width: 40px;
        height: 40px;
    }
    .left i{
        font-size: 15px;
        color: #1c120f;
    }
}

@media screen and (max-width:640px) {
    .navbar{
        visibility: hidden;
    }
    .min-nav{
        visibility: visible;
        border-top-left-radius:20px;
        border-top-right-radius:20px;
    }
    .min-nav .list-img{
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1c120f;
        border: 5px solid #62c8be;
        border-radius: 50%;
        transform: translateY(-30px);
    }
    .min-nav li img{
        width: 20px;
    }
    .min-nav li i{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color:#62c8be;
        font-size: 17px;
    }
}
